nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(href="home") Летняя школа 2016
        ul.nav.navbar-nav
            li(ng-repeat="section in sections", ng-class="{'active': section.state === currentState}")
                a(ng-href="{{section.state}}", ng-bind="section.title | translate")
