navigation-bar(sections="appSections", current-state="currentState")
.container
    h1(data-translate="PAGE_TITLE_CALC")

    .footer
        hr
        span &copy;&nbsp;2016,&nbsp;
        a(href="https://github.com/apigraf") Алексей Пихтовников
        span &nbsp;для &laquo;Xsolla Summer School 2016&raquo;
