.mortgage-calculator
    h4 Ипотечный калькулятор
    p При помощи данного калькулятора ипотеки вы можете подобрать программу ипотечного кредитования, получить предварительный расчет доступной суммы кредита, размера ежемесячных платежей и процентной ставки.
    hr

    // Форма ввода параметров, необходимых для расчётов
    .form-horizontal
        .form-group
            label.col-sm-4.control-label Вид расчёта
            .col-sm-4
                p.form-control-static
                    span По стоимости недвижимости
        .form-group
            label.col-sm-4.control-label Стоимость недвижимости
            .col-sm-4
                .input-group
                    input.form-control(type="number", ng-model="data.price")
                    span.input-group-addon руб.
        .form-group
            label.col-sm-4.control-label Первоначальный платёж
            .col-sm-4
                .input-group
                    input.form-control(type="number", ng-model="data.firstPayment")
                    span.input-group-addon руб.
        .form-group
            label.col-sm-4.control-label Срок
            .col-sm-4
                .input-group
                    input.form-control(type="number", ng-model="data.period")
                    span.input-group-addon лет

    // Выод результатов расчётов
    .result.form-horizontal
        .form-group
            label.col-sm-4.control-label Размер кредита
            .col-sm-4
                p.form-control-static
                    span(ng-bind="(result.loanAmount | formattedNumber:0) + ' руб.'")
        .form-group
            label.col-sm-4.control-label Ежемесячный платёж
            .col-sm-4
                p.form-control-static
                    span(ng-bind="(result.monthlyPayment | formattedNumber) + ' руб.'")
        .form-group
            label.col-sm-4.control-label Необходимый ежемесячный доход
            .col-sm-4
                p.form-control-static
                    span(ng-bind="(result.requiredMonthlyIncome | formattedNumber) + ' руб.'")
        .form-group
            label.col-sm-4.control-label Ставка по кредиту
            .col-sm-4
                p.form-control-static
                    span(ng-bind="(result.rate | formattedNumber:1) + ' %'")
